---
import Header from "@components/Header.astro";
import BackgroundFX from "@components/BackgroundFX.astro";
import "@fontsource/be-vietnam-pro";
import "@fontsource-variable/gabarito";
import "../styles/global.css";
import { SITE_CONFIG } from "@config";
import Footer from "@components/Footer.astro";
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";

interface Props {
  title?: string;
  description?: string;
  navLinks?: { text: string; href: string }[];
  mainClass?: string;
}

const { siteLogo, lang, author, socialLinks, socialImage } = SITE_CONFIG;

const {
  title = SITE_CONFIG.title,
  description = SITE_CONFIG.description,
  navLinks = SITE_CONFIG.navLinks,
  mainClass = "relative z-10 mx-auto max-w-7xl px-5 pt-28 md:px-6 md:pt-32 lg:px-8 lg:pt-36",
} = Astro.props;

const canonicalBase = SITE_CONFIG.canonicalURL ?? Astro.url.origin;
const canonicalURL = new URL(Astro.url.pathname, canonicalBase).href;
const ogImgUrl = new URL(socialImage, canonicalBase).href;
---

<!doctype html>
<html
  lang={lang}
  class="scroll-pt-28 scroll-smooth md:scroll-pt-32 lg:scroll-pt-36"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/zeo-logo.png" />
    <link rel="apple-touch-icon" href="/zeo-logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={ogImgUrl} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={ogImgUrl} />
    <Analytics />
    <SpeedInsights />
  </head>
  <body class="bg-black font-sans">
    <BackgroundFX />
    <Header siteLogo={siteLogo} navLinks={navLinks} />
    <main class={mainClass}>
      <slot />
    </main>
    <Footer author={author} socialLinks={socialLinks} />
  </body>
</html>
